<div
  class="flex flex-col justify-items-center text-center bg-black text-white h-full justify-stretch"
>
  <div
    class="flex flex-col justify-items-center text-center px-5"
    *ngIf="gameState === 'fighting'"
  >
    <p>Your Level: {{ player.level }}</p>
    <p>{{ player.hp }} / {{ player.maxHp }} Player health</p>
    <app-progress-bar [percent]="(player.hp / player.maxHp) * 100" />
    <p>{{ player.mp }} / {{ player.maxMp }} Player mp</p>
    <app-progress-bar
      [percent]="(player.mp / player.maxMp) * 100"
      barColor="bg-blue-500"
    />
    <p>Selected Spell: {{ selectedSpell?.name }}</p>
    <div class="flex flex-row justify-center">
      <div
        class="flex flex-col"
        *ngFor="let monster of monsters; let i = index"
      >
        <div class="flex flex-col items-center" *ngIf="!(monster.hp <= 0)">
          <img
            [src]="'assets/sprites/' + monster.name + '.png'"
            alt="monster image"
            style="height: 100px; width: 100px"
            class="mb-1 flex"
          />
          <app-spell-button (click)="attackAction(i)" bgColor="bg-blue-500">
            <div class="font-normal text-sm">
              {{ selectedActon === "attack" ? "Attack" : "Cast" }}
            </div>
          </app-spell-button>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 grid-rows-2 grid-flow-col">
      <app-spell-button bgColor="bg-blue-500" (click)="attackBtn()">
        Attack
      </app-spell-button>
      <app-spell-button bgColor="bg-blue-500" (click)="spellBtn()">
        Spell
      </app-spell-button>
      <app-spell-button bgColor="bg-blue-500"> ??? </app-spell-button>
      <app-spell-button bgColor="bg-blue-500" (click)="confirmRun()">
        Run
      </app-spell-button>
    </div>
  </div>

  <div>
    <p *ngIf="gameState === 'lost'">
      You Died!
      <app-spell-button bgColor="bg-blue-500" (click)="returnHome()"
        >Return Home</app-spell-button
      >
    </p>
  </div>
  <div>
    <p *ngIf="gameState === 'win'">
      You Win!
      <app-spell-button bgColor="bg-blue-500" (click)="returnHome()"
        >Return Home</app-spell-button
      >
    </p>
  </div>
  <div>
    <p *ngIf="gameState === 'error'">
      An Error Occured
      <app-spell-button bgColor="bg-blue-500" (click)="returnHome()"
        >Return Home</app-spell-button
      >
    </p>
  </div>

  <div><p *ngIf="gameState === 'loading'">Loading</p></div>
  <div>
    <div *ngIf="gameState === 'selectingSpell'" class="my-2">
      <div *ngFor="let spell of unlocksService.getUnlockedSpells()">
        <app-spell-button bgColor="bg-blue-500" (click)="selectSpell(spell)">
          {{ spell.name }}
        </app-spell-button>
      </div>
    </div>
  </div>

  Combat Log
  <div
    class="border-gray-500 border-solid border-t-2 border-spacing-6 overflow-scroll"
  >
    <div *ngFor="let log of combatLogService.combatLog">{{ log }}</div>
  </div>
</div>
