<div class="flex flex-col">
  <h1 class="text-3xl font-bold underline flex flex-col text-center pb-2">
    Spellbook
  </h1>

  <app-spell-button (click)="magicMissileConfirm()" bgColor="bg-purple-700"
    >Magic Missile</app-spell-button
  >

  <app-spell-button bgColor="bg-green-700" (click)="healButtonClicked()"
    >Heal</app-spell-button
  >

  <app-spell-button bgColor="bg-green-400" (click)="galeButtonClicked()"
    >Gale</app-spell-button
  >

  <app-spell-button bgColor="bg-orange-700" (click)="minimizeButtonClicked()"
    >Minimize</app-spell-button
  >

  <app-spell-button bgColor="bg-amber-900" (click)="stoneDefenseConfirm()">
    Stone Defense
  </app-spell-button>

  <app-spell-button (click)="chargeAttackConfirm()" bgColor="bg-indigo-800">
    Charge Attack
  </app-spell-button>

  <app-spell-button
    class="btn btn-danger"
    (click)="fireballConfirm()"
    bgColor="bg-red-600"
    >Fireball</app-spell-button
  >

  <app-spell-button
    class="btn btn-info"
    (click)="fireballConfirm()"
    bgColor="bg-sky-500"
    >Icebeam</app-spell-button
  >

  <app-spell-button (click)="blindingLightConfirm()" bgColor="bg-yellow-400">
    Blinding Light
  </app-spell-button>
</div>

<app-spell-button bgColor="bg-gray-900" (click)="combatButtonClicked()">
  Fight monsters
</app-spell-button>

<app-spell-button bgColor="bg-gray-900" (click)="demonlordConfirm()">
  Fight Demonlord
</app-spell-button>
